In [3]:
import statsmodels.formula.api as smf
import pandas as pd
import grama as gr
olympics_dataframe = pd.read_csv("olympic_gdp_population_data_no_nans.csv")
olympics_dataframe.head()

,Country,Gold-2012,Silver-2012,Bronze-2012,Total-2012,Weighted-2012,Gold-2008,Silver-2008,Bronze-2008,Total-2008,...,Total-2004,Weighted-2004,GDP-2004,GDP-2008,GDP-2012,GDP-2016,Pop-2004,Pop-2008,Pop-2012,Pop-2016
0,United States,47,27,30,104,225,36,39,37,112,...,101,212,41642.0,48471.0,51737,57840,295517,309348,309348,321369
1,China,38,31,22,91,198,48,22,30,100,...,63,144,4381.0,7501.0,11137,13432,1302285,1336681,1336681,1367486
2,Great Britain,29,18,18,65,141,19,13,19,51,...,30,57,31688.0,36905.0,38297,44121,60488,62349,62349,64089
3,Russia,19,21,27,67,126,24,13,23,60,...,90,172,14728.0,21700.0,24279,24104,143320,142527,142527,142424
4,South Korea,13,9,8,30,65,13,11,8,32,...,30,60,21872.0,28550.0,33557,39567,48006,48637,48637,49116

In [4]:
from grama.data import df_stang_wide
df_stang_wide
from grama.data import df_stang
df_stang
od = (
    olympics_dataframe
    >> gr.tf_pivot_longer(
        columns=["Gold-2004", "Silver-2004", "Bronze-2004", "Total-2004", "Weighted-2004", "GDP-2004", "Pop-2004",
                 "Gold-2008", "Silver-2008", "Bronze-2008", "Total-2008", "Weighted-2008", "GDP-2008", "Pop-2008",
                 "Gold-2012", "Silver-2012", "Bronze-2012", "Total-2012", "Weighted-2012", "GDP-2012", "Pop-2012",
                 "Gold-2016", "Silver-2016", "Bronze-2016", "Total-2016", "Weighted-2016", "GDP-2016", "Pop-2016",],
        names_to=("Var"),
        values_to="val",
    )
    >> gr.tf_separate(
        column="Var",
        into=["Type", "Year"],
        sep="-",
    )
    >> gr.tf_pivot_wider(
        names_from = "Type",
        values_from = "val"
    )
)

In [6]:
mod = smf.ols(formula='Total ~ GDP + Pop', data=od)
res = mod.fit()
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Total   R-squared:                       0.273
Model:                            OLS   Adj. R-squared:                  0.267
Method:                 Least Squares   F-statistic:                     45.30
Date:                Wed, 30 Mar 2022   Prob (F-statistic):           2.00e-17
Time:                        11:35:00   Log-Likelihood:                -1044.8
No. Observations:                 244   AIC:                             2096.
Df Residuals:                     241   BIC:                             2106.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.2543      2.235      0.114      0.910      -4.148       4.657
GDP            0.0005   7.66e-05      6.205      0.000       0.000       0.001
Pop         4.275e-05   5.14e-06      8.312      0.000    3.26e-05    5.29e-05
==============================================================================
Omnibus:                       95.727   Durbin-Watson:                   0.614
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              444.783
Skew:                           1.526   Prob(JB):                     2.61e-97
Kurtosis:                       8.868   Cond. No.                     4.73e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.73e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

In [7]:
mod = smf.ols(formula='Q("Total-2016")~ Q("GDP-2004") + Q("GDP-2008") + Q("GDP-2012") + Q("GDP-2016") + Q("Pop-2004") + Q("Pop-2008") + Q("Pop-2012") + Q("Pop-2016")', data=olympics_dataframe)
res = mod.fit()
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:        Q("Total-2016")   R-squared:                       0.430
Model:                            OLS   Adj. R-squared:                  0.355
Method:                 Least Squares   F-statistic:                     5.709
Date:                Wed, 30 Mar 2022   Prob (F-statistic):           5.95e-05
Time:                        11:35:12   Log-Likelihood:                -253.32
No. Observations:                  61   AIC:                             522.6
Df Residuals:                      53   BIC:                             539.5
Df Model:                           7
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept         4.4276      5.136      0.862      0.393      -5.875      14.730
Q("GDP-2004")     0.0026      0.001      1.844      0.071      -0.000       0.005
Q("GDP-2008")    -0.0033      0.002     -1.647      0.105      -0.007       0.001
Q("GDP-2012")     0.0008      0.002      0.527      0.600      -0.002       0.004
Q("GDP-2016")     0.0006      0.001      0.716      0.477      -0.001       0.002
Q("Pop-2004")    -0.0012      0.005     -0.228      0.820      -0.012       0.009
Q("Pop-2008")     0.0019      0.005      0.365      0.717      -0.009       0.012
Q("Pop-2012")     0.0019      0.005      0.365      0.717      -0.009       0.012
Q("Pop-2016")    -0.0025      0.005     -0.483      0.631      -0.013       0.008
==============================================================================
Omnibus:                       56.959   Durbin-Watson:                   1.468
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              329.418
Skew:                           2.593   Prob(JB):                     2.94e-72
Kurtosis:                      13.135   Cond. No.                     7.13e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.74e-23. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.