In [3]:
import statsmodels.api as sm
import statsmodels.formula.api as smf
import numpy as np
import pandas as pd
olympics_dataframe = pd.read_csv("olympic_gdp_population_data.csv")
olympics_dataframe.head()

,Country,Gold-2012,Silver-2012,Bronze-2012,Total-2012,Weighted-2012,Gold-2008,Silver-2008,Bronze-2008,Total-2008,...,Total-2004,Weighted-2004,GDP-2004,GDP-2008,GDP-2012,GDP-2016,Pop-2004,Pop-2008,Pop-2012,Pop-2016
0,United States,47.0,27.0,30.0,104.0,225.0,36.0,39.0,37.0,112.0,...,101.0,212.0,41642.0,48471.0,51737,57840,295517,309348,309348,321369
1,China,38.0,31.0,22.0,91.0,198.0,48.0,22.0,30.0,100.0,...,63.0,144.0,4381.0,7501.0,11137,13432,1302285,1336681,1336681,1367486
2,Great Britain,29.0,18.0,18.0,65.0,141.0,19.0,13.0,19.0,51.0,...,30.0,57.0,31688.0,36905.0,38297,44121,60488,62349,62349,64089
3,Russia,19.0,21.0,27.0,67.0,126.0,24.0,13.0,23.0,60.0,...,90.0,172.0,14728.0,21700.0,24279,24104,143320,142527,142527,142424
4,South Korea,13.0,9.0,8.0,30.0,65.0,13.0,11.0,8.0,32.0,...,30.0,60.0,21872.0,28550.0,33557,39567,48006,48637,48637,49116

In [4]:
olympics_dataframe["Total-2004"] = pd.to_numeric(olympics_dataframe["Total-2004"])
olympics_dataframe["Total-2008"] = pd.to_numeric(olympics_dataframe["Total-2008"])
olympics_dataframe["Total-2012"] = pd.to_numeric(olympics_dataframe["Total-2012"])
olympics_dataframe["Total-2016"] = pd.to_numeric(olympics_dataframe["Total-2016"])


olympics_dataframe["GDP-2004"] = pd.to_numeric(olympics_dataframe["GDP-2004"])
olympics_dataframe["GDP-2008"] = pd.to_numeric(olympics_dataframe["GDP-2008"])
olympics_dataframe["GDP-2012"] = pd.to_numeric(olympics_dataframe["GDP-2012"])
olympics_dataframe["GDP-2016"] = pd.to_numeric(olympics_dataframe["GDP-2016"])

olympics_dataframe["Pop-2004"] = pd.to_numeric(olympics_dataframe["Pop-2004"])
olympics_dataframe["Pop-2008"] = pd.to_numeric(olympics_dataframe["Pop-2008"])
olympics_dataframe["Pop-2012"] = pd.to_numeric(olympics_dataframe["Pop-2012"])
olympics_dataframe["Pop-2016"] = pd.to_numeric(olympics_dataframe["Pop-2016"])

In [6]:
olympics_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 29 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Country        112 non-null    object
 1   Gold-2012      112 non-null    float64
 2   Silver-2012    112 non-null    float64
 3   Bronze-2012    112 non-null    float64
 4   Total-2012     112 non-null    float64
 5   Weighted-2012  112 non-null    float64
 6   Gold-2008      112 non-null    float64
 7   Silver-2008    112 non-null    float64
 8   Bronze-2008    112 non-null    float64
 9   Total-2008     112 non-null    float64
 10  Weighted-2008  112 non-null    float64
 11  Gold-2016      112 non-null    float64
 12  Silver-2016    112 non-null    float64
 13  Bronze-2016    112 non-null    float64
 14  Total-2016     112 non-null    float64
 15  Weighted-2016  112 non-null    float64
 16  Gold-2004      112 non-null    float64
 17  Silver-2004    112 non-null    float64
 18  Bronze-2004    112 non-null    float64
 19  Total-2004     112 non-null    float64
 20  Weighted-2004  112 non-null    float64
 21  GDP-2004       112 non-null    float64
 22  GDP-2008       112 non-null    float64
 23  GDP-2012       112 non-null    int64
 24  GDP-2016       112 non-null    int64
 25  Pop-2004       112 non-null    int64
 26  Pop-2008       112 non-null    int64
 27  Pop-2012       112 non-null    int64
 28  Pop-2016       112 non-null    int64
dtypes: float64(22), int64(6), object(1)
memory usage: 25.5+ KB

In [13]:
mod = smf.ols(formula='Q("Total-2004")~ Q("GDP-2004") + Q("GDP-2008") + Q("GDP-2012") + Q("GDP-2016") + Q("Pop-2004") + Q("Pop-2008") + Q("Pop-2012") + Q("Pop-2016")', data=olympics_dataframe)
res = mod.fit()
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:        Q("Total-2004")   R-squared:                       0.361
Model:                            OLS   Adj. R-squared:                  0.318
Method:                 Least Squares   F-statistic:                     8.405
Date:                Tue, 29 Mar 2022   Prob (F-statistic):           4.08e-08
Time:                        20:25:07   Log-Likelihood:                -446.16
No. Observations:                 112   AIC:                             908.3
Df Residuals:                     104   BIC:                             930.1
Df Model:                           7
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept         1.4618      2.246      0.651      0.517      -2.992       5.916
Q("GDP-2004")    -0.0002      0.000     -0.771      0.443      -0.001       0.000
Q("GDP-2008")     0.0006      0.001      0.952      0.343      -0.001       0.002
Q("GDP-2012")    -0.0004      0.000     -1.157      0.250      -0.001       0.000
Q("GDP-2016")     0.0002      0.000      1.099      0.274      -0.000       0.001
Q("Pop-2004")     0.0019      0.001      1.248      0.215      -0.001       0.005
Q("Pop-2008")    -0.0011      0.001     -0.751      0.455      -0.004       0.002
Q("Pop-2012")    -0.0011      0.001     -0.751      0.455      -0.004       0.002
Q("Pop-2016")     0.0004      0.001      0.300      0.765      -0.002       0.003
==============================================================================
Omnibus:                      105.762   Durbin-Watson:                   1.336
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1211.335
Skew:                           3.200   Prob(JB):                    9.16e-264
Kurtosis:                      17.785   Cond. No.                     3.23e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.36e-22. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.